.dropdown {
  top: 5px;
  right: 5px;
  position: relative;
  display: inline-block;
}

.dropbtn-usuario {
  width: 60px;
  height: 40px;
  margin-bottom: 6px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  background-color: #737373;
  cursor: pointer;
  outline: none;
}

.submenu {
  right: 0;
  /*padding: 7px;*/
  min-width: 160px;
  position: absolute;
  border-radius: 4px;
  font-family: Verdana, Geneva, sans-serif; 
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  z-index: 1;
}

.submenu a {
  padding: 6px 10px;
  color: black; 
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  display: block;
}

#email {
  margin: 7px;
  font-size: 1rem;
  font-family: sans-serif;
}

.row-divider {
  width: 100%;
  border: solid 1px #d9d9d9; 

}

.submenu a:hover { 
  background-color: #e6e6e6; 
}

.dropdown:hover .submenu {
  display: block;
}

.dropdown:hover .dropbtn-usuario {
  background-color: #bfbfbf;
}